* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    display: flex;
    background-image: url('../img/bg-forest.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  label {
    display: block;
  }
  .boxlogin {
    border-radius: 10px;
    width: 400px;
    background-color: #ffffff;
    margin: auto;
    padding: 40px;
  }
  .boxlogin .title {
    font-size: 25px;
    text-align: center;
    color: #959595;
  }
  .boxlogin .form {
    margin-top: 40px;
  }
  .boxlogin .form .forminput {
    margin-bottom: 20px;
  }
  .boxlogin .form .forminput .inputtext {
    width: 100%;
    padding: 20px 10px 20px 10px;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    background-color: #e6e7e9;
  }
  .boxlogin .form .formlink {
    text-align: right;
    margin-bottom: 20px;
  }
  .boxlogin .form .formlink a {
    text-decoration: none;
    color: #959595;
  }
  .boxlogin .form .formlink a:hover {
    color: #333333;
  }
  .boxlogin .form .formfooter {
    color: #b8b7bc;
    text-align: center;
    margin-top:10px;
    padding:10px;
  }
  .boxlogin .form .formfooter a {
    color: #1ad2de;
    text-decoration: none;
  }
  .btn {
    width: 100%;
    padding: 20px 10px 20px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn-pink {
    background-color: #ed5684;
    color: #ffffff;
    font-weight: bold;
  }
  .btn-pink:hover {
    background-color: #df3b6c;
  }
  .btn-softblue {
    background-color: #1ad2de;
    color:#ffffff;
  }
  .btn-softblue:hover {
    background-color: #13c1cc;
  }
  .btn-softblue:active {
    background-color: #1ad2de;
  }